body{
    overflow: hidden;
}
.home-container{
    padding: 2%;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas: 
        "textoPrincipal"
        "imagen"
        "aboutUs"
    ;
}

.imagen{
    grid-area: imagen;
}
.textoPrincipal{
    grid-area: textoPrincipal;
}
.aboutUs{
    grid-area: aboutUs;
}
.footer{
    position: fixed;
}
.button {
    background-color: #f44336;
    color: white; 
    border: 2px solid #f44336;
    width: 85%;
    height: 30%;
  }

hr{
    width: 95%;
}
.about-section {
    padding: 10px;
    text-align: center;
    background-color: #F3505A;
    color: white;
}

@media only screen and (min-width:450px) {

    hr{
        display: none;
    }
    .home-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:  
                    "textoPrincipal imagen"
                    "aboutUs aboutUs";
                    
    }
}