.botonMultimedida{
    background-color: #373b37; /* Green */
  border: none;
  color: white;
 text-align: center;
 font-size: 20px;
  /* text-align: justify; */
  /* text-decoration: none;
  display: inline-block; */
  /* font-size: 24px; */
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.footer{
  position: fixed;
}

.logo {
   
    width: auto;
    height: 155%;
    
  }
  .logo2{
    grid-area: logo2;
   text-align: center;
  }
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "logo2 textologo"
    "video video"
    "titulo3 titulo3"
    "textoaudio audio";
    height: 100vh;
  
  }
.titulo{
    grid-area: titulo;
}
.textovideo{
    grid-area: textovideo;
    padding-top: 4%;
}
.video{
    grid-area: video;
}
.textologo{
    grid-area: textologo;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
   
}
.audio{
    
    text-align: center;
    grid-area: audio;
}
.textoaudio{
 
  grid-area: textoaudio;
}
.titulo3{
  grid-area: titulo3;
}
.pad{
  padding-left: 2%;
}
@media only screen and (max-width:850px) {

  hr{
      display: none;
  }
  .grid-container{
    display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "titulo"
      "logo2"
      "textologo"
      "video"
      "titulo3"
      "textoaudio"
      "audio";
      height: 100vh;
                  
  }
  #videoloco{
    width: 300px;
    height: 210px;
  }
  #logomenu{
    width: 300px;
    height: 280px;
  }
  .audio{
    margin: 0;
    padding-bottom: 50px;

  }
}