.botonMultimedida{
    background-color: #373b37; /* Green */
  border: none;
  color: white;
 text-align: center;
 font-size: 20px;
  /* text-align: justify; */
  /* text-decoration: none;
  display: inline-block; */
  /* font-size: 24px; */
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.logo {
   
    width: auto;
    height: 155%;
    
  }
  .logo2{
    grid-area: logo2;
   text-align: center;
  }
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "logo2 textologo"
    "video video"
    "audio audio";
    height: 100vh;
  
  }
.titulo{
    grid-area: titulo;
}
.textovideo{
    grid-area: textovideo;
    padding-top: 4%;
}
.video{
    grid-area: video;
}
.textologo{
    grid-area: textologo;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
   
}
.audio{
    grid-area: audio;
}